{% extends "base.html" %}

{% comment %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}
{% endcomment %}

{% block title %}Password reset{% endblock %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="column">
      <h3>Password reset</h3>
      <p>Feature currently disabled.</p>
    </div>
  </div>
</div>
{% comment %}
<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" value="{% trans 'Reset my password' %}">
</fieldset>
</form>
{% endcomment %}

{% endblock %}
