{% extends "base.html" %}

{% block head_title %}Scenario|AddCrop{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        Add crop to  scenario <em>{{ scenario }}</em>
      </h3>
    </div>
  </div>

  <div class="col">
    <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add crop" />
    <input type="button" value="Cancel" onclick="location.href='{{ request.META.HTTP_REFERER }}'"/>
    </form>
  </div>
</div>

{% endblock %}
