{% extends "base.html" %}

{% block head_title %}Scenario|AddCrop{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        Add crop to  scenario <em>{{ scenario }}</em>
      </h3>
    </div>
  </div>

  <div class="col">
    <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add crop" />
    <input type="button" value="Cancel"
           onclick="location.href='{% url 'optimizer:scenario_details' scenario.id %}'"/>
    </form>
    <br/>
    Hold shift key to add multiple crops.
  </div>
</div>

{% endblock %}
