{% extends "base.html" %}
{% load humanize %}

{% block head_title %}Crop|Details{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>
      Crop details {{ crop.name }}
      </h3>
      <p>
        <a href="{% url "farm:farm" crop.scenario.farm.id %}">
          Farm:
        </a>
        {{ crop.scenario.farm.name }}
      </p>
      <p>
        <a href="{% url "optimizer:scenario_details" crop.scenario.id %}">
          Scenario:
        </a>
        {{ crop.scenario }}
      </p>
      <hr/>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h4>Histogram</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <hr/>
      <h4>Acreage</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Lower limit: {{ crop.lo_acres }}
    </div>
    <div class="col">
      Upper limit:
      {{ crop.hi_acres|default:"No limit" }}
    </div>
    <div class="col-sm-1">
      <a data-toggle="modal" href="#acressetlo">
        <i class="fas fa-edit fa-lg"></i>
      </a>
      <!-- Modal -->
      <div class="modal fade" id="acressetlo" tabindex="-1" role="dialog" aria-labelledby="videoTitleLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form class="well" method="post">
              <div class="modal-header">
                <h5 class="modal-title" id="editplan">Set limits</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                {{ form.as_p }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <hr/>
      <h4>Price</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>Distribution</h5>
    </div>
    <div class="col">
      &ldquo;histogram&rdquo;
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>Overrides</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      &ldquo;list of futures&rdquo;
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <hr/>
      <h4>Yield</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>Distribution</h5>
    </div>
    <div class="col">
      &ldquo;histogram&rdquo;
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>Override</h5>
    </div>
    <div class="col">
      &ldquo;slider: I can do worse ... I can do better&rdquo;
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <hr/>
      <h4>Cost</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <h6>$XX.YY / acre</h6>
    </div>
    <div class="col-sm-2">
      Average cost
    </div>
    <div class="col-sm-1">
      $ZZ.WW
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <h5>Override</h5>
    </div>
    <div class="col-sm-2">
      my adjust
    </div>
    <div class="col-sm-1">
      $KK.LL
    </div>
    <div class="col">
      &ldquo;slider: My cost is less ... My cost is greater&rdquo;
    </div>
  </div>
</div>


{% endblock %}
