{% extends "base.html" %}
{% load humanize %}
{% load static %}


{% block head_title %}Crop Data{% endblock %}
{% block extra_head %} 

  <!--  Downloads loader script for Google Charts. -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="{% static "js/chartUtils.js" %}"></script>
  <style>
    div.chart_div {
      display: inline-block;
    }
  </style>

{% endblock %}
{% block body %}


<div class="container">
  <div class="row">
    <div class="col">
      <h3 style="text-align: center">
      Crop Data : <b style="text-transform: uppercase"><font color="blue">{{ cropdata.name }}</font></b>
      </h3>
    </div>
  </div>

</div>

<div class="container-fluid" >
  <div class="row">
    <div class="col" >
      <hr style="color:blue"/>
      <h4>Gross Revenue</h4>
      <div id="grossChart"></div>
    </div>

    <div class="col" >
      <hr style="color:blue"/>
      <h4>Price Distribution</h4>
      <div id="priceChart"></div>
    </div>

    <div class="col">
      <hr style="color:blue"/>
      <h4>Yield Distribution</h4>
      <div id="yieldChart"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% include "triangle-explain.html" %}
    </div>
  </div>
</div>

<script> 
  // Loads Google Charts packages, then calls chartSetup()
  google.charts.load('current', {'packages': ['corechart', 'controls']});
  google.charts.setOnLoadCallback( chartSetup )

  // Global for storing options for each chart type.
  var options = []

 // Unique settings for crop price triangle plots. 
  options[ 'price_triangle' ] = {
    hAxis: {
      format: 'currency',
      title: 'Price (dollar / {{cropdata.unit}})'
    },
    vAxis: {
      textPosition: 'none',
      gridlines: {
        count: 0
      }
    },
    legend: {
      position: 'none'
    }
  }

  // Unique settings for crop yield triangle plots. 
  options[ 'yield_triangle' ] =  {
    hAxis: {
      title: 'Yield ({{cropdata.unit}} / acre)'
    },
    vAxis: {
      textPosition: 'none',
      gridlines: {
        count: 0
      }
    },
    legend: {
      position: 'none'
    }
  }

  // Unique settings for crop gross profit triangle plots.
  options[ 'gross_triangle' ] = {
    hAxis: {
      format: 'currency',
      title: 'Gross Revenue (dollar / acre)'
    },
    vAxis: {
      textPosition: 'none',
      gridlines: {
        count: 0
      }
    },
    legend: {
      position: 'none'
    },
    annotations: {
      style: 'line',
      stem: {
        color: 'red'
      }
    },
  }

  /**
   * Loads data needed for charts into ChartWrappers, 
   * configures the charts, then plots the data. 
   */
  async function chartSetup() {
    var priceChart = new google.visualization.ChartWrapper({
      containerId: 'priceChart'
    });

    var yieldChart = new google.visualization.ChartWrapper({
      containerId: 'yieldChart'
    });

    var grossChart = new google.visualization.ChartWrapper({
      containerId: 'grossChart'
    });

    var regex = '[0-9]+(?=\/$)'
    var crop_pk = location.pathname.match( regex )[ 0 ]

    try {
      cropdata = await loadCropData( crop_pk )
    } catch ( error ) {
      console.log( error )
    }

    var prices = {
      'values' : cropdata[ 'prices' ]
    }
    var yields = {
      'values' : cropdata[ 'yields' ]
    }
    var gross = {
      'values' : cropdata[ 'gross' ]
    }

    var priceFormatter = new Intl.NumberFormat( 'en-US', {
      style: 'currency',
      currency: 'USD',
    })

    var yieldFormatter = new Intl.NumberFormat( 'en-US', {
      style: 'decimal',
    })

    // Configures and draws triangle distributions.
    setupTriangle( prices, options[ 'price_triangle' ], priceFormatter ).
      then( priceTable => drawChart( priceChart, 'AreaChart', priceTable, options[ 'price_triangle' ]))

    setupTriangle( yields, options[ 'yield_triangle' ], yieldFormatter ).
      then( yieldTable => drawChart( yieldChart, 'AreaChart', yieldTable, options[ 'yield_triangle' ]))

    setupTriangle( gross, options[ 'gross_triangle' ], priceFormatter, cropdata[ 'cost' ]).
      then( grossTable => drawChart( grossChart, 'AreaChart', grossTable, options[ 'gross_triangle' ]))
  }

</script>

{% endblock %}
