{% extends "base.html" %}
{% load humanize %}
{% load static %}


{% block head_title %}Crop Details{% endblock %}
{% block extra_head %} 

  <!--  Downloads loader script for Google Charts. -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{% endblock %}
{% block body %}


<div class="container">
  <div class="row">
    <div class="col">
      <h3 style="text-align: center">
      Crop Details : <b style="text-transform: uppercase"><font color="blue">{{ crop.data.name }}</font></b>
      </h3>

      <p>
        <a href="{% url "farm:farm" crop.scenario.farm.id %}">
          Farm:
        </a>
        {{ crop.scenario.farm.name }}
      </p>

      <p>
        <a href="{% url "optimizer:scenario_details" crop.scenario.id %}">
          Scenario:
        </a>
        {{ crop.scenario }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col"> 
      <b>Cost</b>: ${{ crop.data.cost|floatformat:2}} / {{ crop.data.unit }} 
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col">
      <hr style="color:blue">
      <h4>Price Distribution</h3>
    </div>
  </div>

 <div class="row">
    <div class="col">
      <div style="text-align: center" id="priceChart"></div>
    </div>
  </div>
</div>

<div class="row">
  <div style="text-align: center" class="col-sm">
    <label>Histogram<input type="radio" name="priceChartType" id="priceHistogramButton" checked="checked"/></label>
    <label>Box Plot<input type="radio" name="priceChartType" id="priceBoxplotButton"/></label>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <hr style="color:blue">
      <h4>Yield Distribution</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div style="text-align: center" id="yieldChart"></div>
    </div>
  </div>

  <div class="row">
    <div style="text-align: center" class="col-sm">
      <label>Histogram<input type="radio" name="yieldChartType" id="yieldHistogramButton" checked="checked"/></label>
      <label>Box Plot<input type="radio" name="yieldChartType" id="yieldBoxplotButton"/></label>
    </div>
  </div>
</div>

<script> 
  // Loads Google Charts packages, then calls chartSetup().
  google.charts.load('current', {'packages': ['corechart', 'controls']});
  google.charts.setOnLoadCallback( chartSetup )

  // Global for storing raw data.
  var data = []
  // Global for storing options for each chart type.
  var options = []
  // Global for storing datatables, formatted for a specific chart type.
  var tables = []

  /**
   * Attempts to load an array of crop prices. If loading is successful, the array
   * is converted to an array of arrays (formatting for Google Charts) and returned.
   * If loading is unsuccesful, an error is thrown. The original array is stored 
   * in "data[ 'prices' ]"....
   *
   * Should crop data ever need to be dynamic, replace this with an AJAX call.
   */
  async function loadCropPrices() {
    const pricesJSON = '{{ crop.data.prices }}'

    if ( pricesJSON != '' ) {
      data[ 'prices' ] = JSON.parse( pricesJSON )
    } else {
      throw "Error in loadCropPrices()!"
    }
  }

  /**
   * Attempts to load an array of crop yields. If loading is successful, the array
   * is converted to an array of arrays (formatting for Google Charts') and returned.
   * If loading is unsuccesful, an error is thrown.
   *
   * If crop data ever needs to be dynamic, replace this with an AJAX call.
   */
  async function loadCropYields() {
    const yieldsJSON = '{{ crop.data.yields }}'

    if ( yieldsJSON != '' ) {
      data[ 'yields' ] = JSON.parse( yieldsJSON )
    } else {
      throw "Error in loadCropYields()!"
    }
  }

  // Converts an array to an array of arrays.
  // e.g. [ 1, 2, 3] => [ [1], [2], [3], ]
  function chunkArray( array ) {
    var arrayCopy = [...array]
    arrayCopy.forEach( (element, idx) => {
      arrayCopy[ idx ] = [ element ]
    })
    return arrayCopy
  }

  // Global settings for box plots.
  options[ 'boxplot' ] = {
    height: 400,
    legend: {position: 'none'},
    hAxis: {
      gridlines: {color: '#fff'}
      
    },
    lineWidth: 1,
    series: [{'color': '#D3362D'}],
    intervals: {
      barWidth: 1,
      boxWidth: 1,
      lineWidth: 3,
      style: 'boxes'
    },
    interval: {
      max: {
        style: 'bars',
        fillOpacity: 1,
        color: '#777'
      },
      min: {
        style: 'bars',
        fillOpacity: 1,
        color: '#777'
      }
    },
    orientation: 'vertical'
  }

  // Global settings for histograms.
  options[ 'histogram' ] = {
    height: 400,
    legend: {position: 'none'},
    hAxis: {
      gridlines: {color: '#fff'}
    },
    lineWidth: 0
  }

  /**
   * Loads data needed for charts into ChartWrappers, 
   * configures the charts, then plots the data. 
   */
  async function chartSetup() {
    window.priceChart = new google.visualization.ChartWrapper({
      options: { 'title': 'Price Data'},
      containerId: 'priceChart'
    });

    window.yieldChart = new google.visualization.ChartWrapper({
      options: { 'title': 'Yield Data'},
      containerId: 'yieldChart'
    });

    // Attempts to load yield and price data.
    try {
      await Promise.all( [ loadCropPrices(), loadCropYields() ] );
    } catch ( error ) {
      console.log( error )
    }

    // Configures and draws histograms.
    setupHistogram( 'yieldHistogram', 'yields', 'yields' ).then( drawYieldHistogram() );
    setupHistogram( 'priceHistogram', 'prices', 'prices' ).then( drawPriceHistogram() );

    // Configures boxplots to be drawn later. 
    setupBoxplot( 'priceBoxplot', 'prices' )
    setupBoxplot( 'yieldBoxplot', 'yields' )
  }

  async function setupHistogram( table_key, data_key, attr_name ) {
    var datatable = new google.visualization.DataTable();
    datatable.addColumn( 'number', attr_name )
    datatable.addRows( chunkArray( data[ data_key ] ) )
    tables[ table_key ] =  datatable
  }
  /**
   * Given an array of numbers (prices, yields, etc) stored in 
   * "data[ data_key ]", configures a datatable and stores it in
   * "tables[ table_key]".
   */
  async function setupBoxplot( table_key, data_key ) {
    // Creates array of a shallow copy of price data.
    var boxplotData = [ [...data[ data_key ]] ]

    boxplotData[ 0 ].unshift( '' )
    var datatable = new google.visualization.DataTable();

    // Addings N columns for N values in "boxPlotData".
    datatable.addColumn('string', 'x');
    for (var i = 1; i < boxplotData[ 0 ].length; i++) {
      datatable.addColumn( 'number', '')
    }

    // Adding columns for 'whisker' values.
    datatable.addColumn( {id:'max', type:'number', role:'interval'} );
    datatable.addColumn( {id:'min', type:'number', role:'interval'} );
    datatable.addColumn( {id:'firstQuartile', type:'number', role:'interval'} );
    datatable.addColumn( {id:'median', type:'number', role:'interval'} );
    datatable.addColumn( {id:'thirdQuartile', type:'number', role:'interval'} );

    datatable.addRows( await getBoxPlotValues( boxplotData ) )
    tables[ table_key ] = datatable
  }

  // Returns median from a sorted array of values.
  function getMedian( array ) {
    var length = array.length;

    if (length % 2 === 0) {
      var midUpper = length / 2;
      var midLower = midUpper - 1;
      return ( array[ midUpper ] + array[ midLower ] ) / 2;
    } else {
      return array[ Math.floor( length / 2 ) ];
    }
  }

  /*
  * Calculates and appends (in order) the max, min, 1st-quartile, median, and 
  * 3rd-quartile to "array" so a box plot can be plotted.
  */
  function getBoxPlotValues(array) {
    for (var i = 0; i < array.length; i++) {

      var arr = array[ i ].slice( 1 ).sort( ( a, b ) => {
        return a - b;
      });

      var max = arr[ arr.length - 1 ];
      var min = arr[ 0 ];
      var median = getMedian( arr );
      var firstQuartile = getMedian( arr.slice( 0, Math.round( arr.length / 2 )) );
      var thirdQuartile = getMedian( arr.slice( Math.floor( arr.length / 2 )) );

      array[i].push( max )
      array[i].push( min )
      array[i].push( firstQuartile )
      array[i].push( median )
      array[i].push( thirdQuartile )
    }

    return array;
  }

  function drawPriceHistogram() {
    window.priceChart.setDataTable( tables[ 'priceHistogram' ] )
    window.priceChart.setChartType( 'Histogram' )
    window.priceChart.setOptions( options[ 'histogram' ] )
    window.priceChart.draw()
  }

  function drawYieldHistogram() {
    window.yieldChart.setDataTable( tables[ 'yieldHistogram' ])
    window.yieldChart.setChartType( 'Histogram' )
    window.yieldChart.setOptions( options[ 'histogram' ] )
    window.yieldChart.draw()
  }

  function drawPriceBoxplot() {
    window.priceChart.setChartType( 'LineChart' )
    window.priceChart.setDataTable( tables[ 'priceBoxplot' ] ) 
    window.priceChart.setOptions( options[ 'boxplot'] )
    window.priceChart.draw()
  }

  function drawYieldBoxplot() {
    window.yieldChart.setChartType( 'LineChart' )
    window.yieldChart.setDataTable( tables[ 'yieldBoxplot' ] ) 
    window.yieldChart.setOptions( options[ 'boxplot' ] )
    window.yieldChart.draw()
  }

  var priceBoxplotButton = document.getElementById( 'priceBoxplotButton' )
  priceBoxplotButton.onchange = function () {
    drawPriceBoxplot()
  }

  var priceHistogramButton = document.getElementById( 'priceHistogramButton' )
  priceHistogramButton.onchange = function () {
    drawPriceHistogram()
  }

  var yieldBoxplotButton = document.getElementById( 'yieldBoxplotButton' )
  yieldBoxplotButton.onchange = function () {
    drawYieldBoxplot()
  }

  var yieldHistogramButton = document.getElementById( 'yieldHistogramButton' )
  yieldHistogramButton.onchange = function () {
    drawYieldHistogram()
  }

</script>

{% endblock %}