{% extends "base.html" %}
{% load humanize %}
{% load static %}


{% block head_title %}Crop Details{% endblock %}
{% block extra_head %} 

  <!--  Downloads loader script for Google Charts. -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{% endblock %}
{% block body %}


<div class="container">
  <div class="row">
    <div class="col">
      <h3 style="text-align: center">
      Crop Details : <b style="text-transform: uppercase"><font color="blue">{{ crop.data.name }}</font></b>
      </h3>

      <p>
        <a href="{% url "farm:farm" crop.scenario.farm.id %}">
          Farm:
        </a>
        {{ crop.scenario.farm.name }}
      </p>

      <p>
        <a href="{% url "optimizer:scenario_details" crop.scenario.id %}">
          Scenario:
        </a>
        {{ crop.scenario }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col"> 
      <b>Cost</b>: ${{ crop.data.cost|floatformat:2}} / {{ crop.data.unit }} 
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col">
      <hr style="color:blue">
      <h4>Price Distribution</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div style="text-align: center" id="priceChart"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <hr style="color:blue">
      <h4>Yield Distribution</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div style="text-align: center" id="yieldChart"></div>
    </div>
  </div>
</div>

<script> 
  // Loads Google Charts packages, then calls chartSetup()
  google.charts.load('current', {'packages': ['corechart', 'controls']});
  google.charts.setOnLoadCallback( chartSetup )

  // Global for storing raw data.
  var data = []
  // Global for storing options for each chart type.
  var options = []
  // Global for storing datatables, formatted for a specific chart type.
  var tables = []

  /**
   * Attempts to load stats for crop prices. If loading is unsuccesful, 
   * an error is thrown. Should crop data ever need to be dynamic, 
   * replace this with an AJAX call.
   */
  async function loadCropPrices() {
    const priceStatsJSON = '{{ crop.data.price_stats|escapejs }}'

    if ( priceStatsJSON != '' ) {
      data[ 'price_stats' ] = JSON.parse( priceStatsJSON )
    } else {
      throw "Error in loadCropPrices()!"
    }
  }

  /**
   * Attempts to stats for crop yields. If loading is successful, the array
   * is converted to an array of arrays (formatting for Google Charts') and returned.
   * If loading is unsuccesful, an error is thrown.
   *
   * If crop data ever needs to be dynamic, replace this with an AJAX call.
   */
  async function loadCropYields() {
    const yieldStatsJSON = '{{ crop.data.yield_stats|escapejs }}'

    if ( yieldStatsJSON != '') {
      data[ 'yield_stats' ] = JSON.parse( yieldStatsJSON )
    } else {
      throw "Error in loadCropYields()!"
    }
  }

  /**
   * Loads data needed for charts into ChartWrappers, 
   * configures the charts, then plots the data. 
   */
  async function chartSetup() {
    window.priceChart = new google.visualization.ChartWrapper({
      containerId: 'priceChart'
    });

    window.yieldChart = new google.visualization.ChartWrapper({
      containerId: 'yieldChart'
    });

    // Attempts to load yield and price data.
    try {
      await Promise.all( [ loadCropPrices(), loadCropYields() ] );
    } catch ( error ) {
      console.log( error )
    }

    // Configures and draws triangle distributions.
    setupTriangle( 'yieldTriangle', 'yield_stats', 'yield_triangle' ).
      then( drawChart( window.yieldChart, 'AreaChart', 'yieldTriangle', 'yield_triangle'))
    setupTriangle( 'priceTriangle', 'price_stats', 'price_triangle' ).
      then( drawChart( window.priceChart, 'AreaChart', 'priceTriangle', 'price_triangle'))
  }

  // Global settings for triangle plots for prices.
  options[ 'price_triangle' ] = {
    hAxis: {
      format: 'currency'
    }
  }

  // Global settings for triangle plots for yields.
  options[ 'yield_triangle' ] =  {}
  
  /**
   * Appends common options for triangle charts to options[ optionsKey ].
   */
  async function setTriChartOptions( trianglePoints, optionsKey) {
    // X-coordinates of min and max values for crop data.
    var hi = trianglePoints[ 'hi' ][ 0 ]
    var lo = trianglePoints[ 'lo' ][ 0 ]

    var offset = (hi - lo) * 0.2
    var xAxisUpperBound = Math.round( hi + offset )
    var xAxisLowerBound = Math.round( lo - offset )

    // Appends options common to all triangle plots.
    options[ optionsKey ] =  {
      height: 400,
      width: 650,
      hAxis: {
        // Appending additional 'hAxis' options 
        // See "object spread operator" for explanation of ellipses.
        ...options[ optionsKey ][ 'hAxis' ],
        ...{
          viewWindow : {
            min: xAxisLowerBound,
            max: xAxisUpperBound
          }
        }
      },
      vAxis: {
        format: 'percent'
      }
    }
  }

  /**
   * For each triangle chart on the page, values from data[ dataKey] are 
   * formatted into a datatable and stored in tables[ tableKey ]. Options 
   * are set for options[ optionsKey ].
   */
  async function setupTriangle( tableKey, dataKey, optionsKey ) {
    // Sets chart options for displaying a triangle distribution.
    trianglePoints = data[ dataKey ][ 'tri_dist' ]
    setTriChartOptions( trianglePoints, optionsKey )

    var datatable = new google.visualization.DataTable();
    datatable.addColumn('number', 'value')
    datatable.addColumn('number', 'probability')
    datatable.addRows( [
      trianglePoints[ 'lo' ],
      trianglePoints[ 'peak' ],
      trianglePoints[ 'hi' ]
    ]);
    tables[ tableKey ] = datatable
  }

  // Draws or redraws a chart.
  function drawChart( chartWrapper, chartType, tableKey, optionsKey ) {
    chartWrapper.setChartType( chartType )
    chartWrapper.setDataTable( tables[ tableKey ] ) 
    chartWrapper.setOptions( options[ optionsKey ] )
    chartWrapper.draw()
  }

</script>
{% endblock %}
