{% extends "base.html" %}

{% block head_title %}Scenario|EditPrice{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        Edit price override for <em>{{ price.crop.data.name }}</em>
      </h3>
      <p>Set number {{ price.crop.data.unit }}
      and the price (dollars per {{ price.crop.data.unit }})
      for this order.
      Also, select at risk factor.
      A low risk factor will reserve <em>more</em> acres for this
      order, which lowers the risk of failing to meet this order.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
    <input type="button" value="Cancel" onclick="location.href='{{ request.META.HTTP_REFERER }}'"/>
    </form>
  </div>
</div>

{% endblock %}
