{% extends "base.html" %}

{% load humanize %}

{% block head_title %}Optimizer|Edit Crop Acreage Limits{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        Set <b>scenario</b> acreage limits for <em>{{ crop.data.name }}</em>
      </h3>
      <p>
        These limits apply to all scenarios.
        They replace the farm-wide limits.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update" />
      <input type="button" value="Cancel"
             onclick="location.href='{% url 'optimizer:scenario_details' scenario.id %}'"/>
      </form>
      <br/>
      <p>
        A limit of 0 (zero) means &ldquo;no limit.&rdquo;
      </p>
    </div>
  </div>
</div>

{% endblock %}
