{% extends "base.html" %}

{% load static %}

{% load humanize %}

{% block head_title %}Scenario List{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        Scenarios for 
        <a href="{% url "farm:farm" farm.id %}">
          <b>{{ farm.name }}</b>
        </a>
      </h1>
      <p>
        Scenarios are a playground to experiment with different
        crop mixes, prices, yields, or costs.
        Create multiple scenarios to explore the tradeoffs.
      </p>
    </div>
  </div>
</div>

<hr>

<!-- Start of Scenario list. -->
<div class="container-fluid">
  <div class="row">
    {% for scenario in farm.scenarios.all %}
    <!-- Definition of an individual Scenario card. -->
    <div class="{% cycle "card" "card bg-light" %}" style="width: 20rem;">
      <div class="card-body">

        <!-- Card title / Scenario name -->
        <h4 class="card-title text-center" >
          <a href="{% url "optimizer:scenario_details" scenario.id %}" data-toggle="tooltip" 
            title='Details for scenario "{{scenario.name}}"'>
            {{ scenario.name|capfirst }}
          </a>
        </h4>

        <hr>

        <!-- Delete Scenario button -->
        <a class="btn btn-danger btn-sm text-center" data-toggle="modal" 
          href="#deleteScenario{{ forloop.counter }}" >
          Delete scenario
        </a>

        <!-- Delete Scenario Modal. -->
        <div class="modal fade" id="deleteScenario{{ forloop.counter }}" tabindex="-1" role="dialog" 
          aria-labelledby="videoTitleLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteScenario{{ forloop.counter }}">
                  Delete scenario <i>{{ scenario.name }}</i>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>This <b>cannot</b> be undone.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cancel</button>
                <input type="button" value="Delete"
                      class="btn btn-danger"
                      onclick="location.href='{% url "optimizer:scenario_delete" scenario.id %}'"/>
              </div>
            </div>
          </div>
        </div> <!-- End of Delete Scenario modal -->

      </div>
    </div> <!-- End of individual Scenario card. -->

    {% empty %}
    <div class="row">
      <div class="col">
        <p>
          You have no scenarios.
        </p>
        <p>
          Click below to create a new <b><i>scenario</i></b>.
        </p>
      </div>
    </div>
        {% endfor %}
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <a href="{% url "optimizer:scenario_add" farm.id %}">
        <i class="fas fa-plus-circle"></i>
        Add scenario
      </a>
    </div>
  </div>
</div>
{% endblock %}
