{% extends "base.html" %}
{% load humanize %}

{% block head_title %}Scenario|Details{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        Scenario details
      </h3>
      <p>
        Farm:
        <a href="{% url "farm:farm" scenario.farm.id %}">
          {{ scenario.farm.name }}
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url "optimizer:list" scenario.farm.id %}">
          all scenarios
        </a>
      </p>
      <p>
        Scenario: {{ scenario }}
        &nbsp;
        <a data-toggle="modal" href="#editName">
          <i class="fas fa-edit"></i>
        </a>
        <!-- Modal -->
        <div class="modal fade" id="editName" tabindex="-1" role="dialog" aria-labelledby="videoTitleLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form class="well" method="post">
                <div class="modal-header">
                  <h5 class="modal-title" id="editName">
                    Edit Scenario Name
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% csrf_token %}
                  {{ form.as_p }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>   {# end modal #}
      </p>
      <hr/>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Expected
    </div>
    <div class="col-sm">
      ${{ scenario.mean|floatformat:"0"|intcomma }}
    </div>
    <div class="col-sm">
      {{ scenario.mean_partition }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Pessimistic 
    </div>
    <div class="col-sm">
      ${{ scenario.q1|floatformat:"0"|intcomma }}
    </div>
    <div class="col-sm">
      {{ scenario.q1_partition }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Optimistic
    </div>
    <div class="col-sm">
      ${{ scenario.q3|floatformat:"0"|intcomma }}
    </div>
    <div class="col-sm">
      {{ scenario.q3_partition }}
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <p></p>
        <a class="btn btn-primary" href="{% url "optimizer:analyze" scenario.id %}" role="button">
          Update
        </a>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <hr/>
        <h3>Crops</h3>
    </div>
  </div>
</div>

<div class="container">
{% for crop in scenario.crops.all %}
<div class="row" {% cycle '' 'bg-light' %}">
  <div class="col">
    <a data-toggle="modal" href="#removeCrop{{ forloop.counter }}">
      <i class="fas fa-minus-circle"></i>
    </a>
    <!-- Modal -->
    <div class="modal fade" id="removeCrop{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="videoTitleLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cropRemove">
              Remove Crop: {{ crop.data.name }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input type="button" value="Remove" class="btn btn-primary"
                   onclick="location.href='{% url 'optimizer:rmCropScenario' crop.id %}'">
            </input>
          </div>
        </div>
      </div>
    </div>
    &nbsp;
    <a href="{% url "optimizer:crop_details" crop.id %}">
      {{ crop.data.name }}
    </a>
  </div>
</div>

{% empty %}
<div class="row">
  <div class="col">
    No crops
  </div>
</div>
{% endfor %}
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <p>&nbsp;</p>
    </div>
  </div>
    <div class="row">
      <div class="col">
        <a href="{% url "optimizer:addCropScenario" scenario.id %}">
          <i class="fas fa-plus-circle"></i>
          Add crops
        </a>
    </div>
  </div>
</div>

{% endblock %}
