{% extends "base.html" %}

{% block head_title %}Scenario|Details{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>
      Scenario details
      </h3>
      <p> Scenario: {{ scenario }}
      <p> Farm: {{ scenario.farm.name }}</p>
      <a href="{% url "optimizer:scenario_edit" scenario.id %}">
        <i class="fas fa-edit"></i>
        Edit name
      </a>
      <hr/>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <strong>
        Crop
      </strong>
    </div>
    <div class="col-sm">
      <strong>
        Acres
      </strong>
    </div>
    <div class="col-sm">
      <strong>
        ROI
      </strong>
    </div>
  </div>
</div>

<div class="container">
{% for crop in scenarios.crops.all %}
<div class="row" {% cycle '' 'bg-light' %}">
  <div class="col-sm">
    <a href="{% url "optimizer:crop_details" crop.id %}">
      {{ crop }}
    </a>
  </div>
  <div class="col">
  </div>
  <div class="col">
  </div>
  <div class="col">
  </div>
</div>

{% empty %}
<div class="row">
  <div class="col">
    No crops
  </div>
</div>
{% endfor %}
</div>

<div class="container">
  <hr/>
  <div class="row">
    <div class="col">
      <a href="{% url "optimizer:crop_add" scenario.id %}">
        <i class="fas fa-plus-circle"></i>
        Add crop
      </a>
    </div>
  </div>
</div>
{% endblock %}
