{% load static %}
{% load i18n %}


<nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="{% static "img/logo-small.png" %}" alt="">
  </a>

{% if request.user.is_authenticated %}
  <div class="navbar-nav navbar-right">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if request.user.is_staff %}
          <a class="dropdown-item" href="{% url 'admin:index' %}">
            <i class="fas fa-user-tie"></i> Igloo
          </a>
          <div class="dropdown-divider"></div>
          {% endif %}
          <a class="dropdown-item" id="account_logout" href="{% url 'logout' %}"><i class="fas fa-power-off"></i> {% trans "Log out" %}</a>
        </div>
      </li>      
    </ul>
    {% else %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url "tbd" %}">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "login" %}">Log In</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
