{% extends "base.html" %}

{% block head_title %}Home{% endblock %}

{% block body %}

<div class="container-fluid">
  <!-- Breadcrumb -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <a class="btn btn-primary" href="{% url "farm:index" %}">
        Crop mix tool
      </a>
      &nbsp;
      <a class="btn btn-primary" href="{% url "hedge:index" %}">
        Hedging tool
      </a>
      &nbsp;
      <a class="btn btn-primary" href="{% url "viewer:home" %}">
        Data viewer
      </a>
    </div>
  </div>
</div>
{% endblock %}
