<p>
  Probabilities are shown using
  <a data-toggle="modal" href="#triangleDistro">
    <b>triangle distibutions.</b>
  </a>
</p>
<!-- Modal -->
<div class="modal fade" id="triangleDistro" tabindex="-1" role="dialog" aria-labelledby="videoTitleLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editName">
          Triangle distibution
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          The probability of price, yield, and revenue is model
          using a <i>triangle distribution</i>, where the
          <i>minimum</i> and <i>maximum</i> predictions are the base
          of the triangle.
          The height of the triangle shows the likelihood of the
          value on the x-axis.
          The <i>peak</i> of the triangle is the most likely value
          (not the average or expected value).
          On gross distributions, a vertical line shows cost.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{# end modal #}
