{% extends "base.html" %}

{% block head_title %}Farm{% endblock %}

{% block body %}

<div class="container-fluid">
  <!-- Breadcrumb -->
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Data</h1>
      <p>View USDA data</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:field_crop_totals' %}">
        Field crop totals
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:vegetable_totals' %}">
        Vegetable totals
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:fruit_tree_totals' %}">
        Fruit & tree nuts totals
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:horticulture_totals' %}">
        Horticulture totals
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:crop_totals' %}">
        Crop totals
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:livestock_totals' %}">
        Livestock totals
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:poultry_totals' %}">
        Poultry totals
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:dairy_totals' %}">
        Dairy totals
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:aquaculture_totals' %}">
        Aquaculture totals
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:specialty_totals' %}">
        Specialty totals
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:area_planted_harvested_by_crop' %}">
        Area planted/harvested (by crop)
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary" href="{% url 'viewer:area_planted_harvested_by_year' %}">
        Area planted/harvested (by year)
      </a>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
{% endblock %}
