{% extends "base.html" %}

{% load humanize %}

{% block head_title %}Farm|Edit Crop Cost{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        Set <b>farm</b> cost for <em>{{ crop.data.name }}</em>
      </h3>
      <p>
        This cost applies to all scenarios
        without a scenario-specific cost.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update" />
      <input type="button" value="Cancel"
             onclick="location.href='{% url 'farm:farm' crop.farm.id %}'"/>
      </form>
      <br/>
      <p>
        Default operating costs: ${{ crop.data.cost|floatformat:2|intcomma }}.
      </p>
      <p>
        Set to 0 (zero) to remove cost override.
      </p>
    </div>
  </div>
</div>
  
{% endblock %}
