{% extends "base.html" %}

{% block head_title %}Farm{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        <a href="{% url "home" %}">
          <i class="fas fa-caret-up"></i>
        </a>
        Farm: {{ farm.name }}
      </h3>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
    <div class="col">
      <h5>Crop preferences</h5>
    </div>
  </div>
</div>

{% for crop in farm.getCrops %}
<div class="container">
    <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
      <a href="{% url "tbd" %}">
        <i class="fas fa-minus-circle"></i>
      </a>
      {{ crop }}
    </div>
  </div>
</div>
{% empty %}
<p>No crops. This could be a problem</p>
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
      <a href="{% url "tbd" %}">
        <i class="fas fa-plus-circle"></i>
        Add a crop
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <hr/>
  </div>
</div>

<div class="container-fluid">
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col">
    <strong>Field</strong>
  </div>
  <div class="col">
    <strong>Acres</strong>
  </div>
</div>

<div class="container-fluid">
{% for field in farm.fields.all %}
<div class="row {% cycle 'bg-light' '' %}">
  <div class="col-sm-1">
    {{ forloop.counter }}
  </div>
  <div class="col">
    {{ field }}
    &nbsp;
    <a href="{% url "tbd" %}">
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <div class="col">
    {{ field.acreage }}
  </div>
  <div class="col-sm-1">
    <a href="{% url "tbd" %}">
      <i class="fas fa-minus-circle"></i>
    </a>
  </div>
</div>

{% empty %}
<div class="row">
  <div class="col">
    No fields.
  </div>
</div>
{% endfor %}
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
      <a href="{% url "tbd" %}">
        <i class="fas fa-plus-circle"></i>
        Add a field
      </a>
    </div>
  </div>
</div>

{% endblock %}
