{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block extra_head %}
  <!-- Loads Google Charts library. -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="{% static "js/chartUtils.js" %}"></script>
{% endblock %}

{% block head_title %}Farm{% endblock %}

{% block body %}

{# TITLE #}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-6">{{ farm.name }}</h1>
    <p class="lead">
      {{ farm.note }}
      <br/>
      <a data-toggle="modal" href="#editNote">
        <i class="fas fa-edit"></i>
      </a>
      {# begin modal #}
      <div class="modal fade" id="editNote" tabindex="-1" role="dialog" aria-labelledby="videoTitleLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form class="well" method="post"
                  action="{% url "farm:edit_note" farm.id %}">
              <div class="modal-header">
                <h5 class="modal-title" id="editNote">
                  Edit Farm
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                {{ note_form.as_p }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {# end modal #}
    </p>
    <div class="row">
      <div class="col-md-3">
        <b>Total farm expenses:</b>
      </div>
      <div class="col-md-2">
        {% if farm.max_expense == 0.0 %}
        No limit
        {% else %}
        ${{ farm.max_expense|floatformat:"0"|intcomma }}
        {% endif %}
        &nbsp;&nbsp;
        <a data-toggle="modal" href="#editMax">
          <i class="fas fa-edit"></i>
        </a>
        {# begin modal #}
        <div class="modal fade" id="editMax" tabindex="-1" role="dialog" aria-labelledby="videoTitleLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form class="well" method="post"
                    action="{% url "farm:edit_expense" farm.id %}">
                <div class="modal-header">
                  <h5 class="modal-title" id="editMax">
                    Edit Farm Expense Limit
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% csrf_token %}
                  {{ expense_form.as_p }}
                  <p>Set limit to 0 (zero) for no limit to expenses.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {# end modal #}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-1">
        Set the upper limit for the <b>farm</b> expenses.
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br/>
        <a class="btn btn-primary btn-lg" href="{% url "optimizer:list" farm.id %}" role="button">Analyze</a>
      </div>
    </div>

  </div>
  {# end jumbotron #}
</div>

{# CROPS LIST #}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h2>Crops</h2>
      <br/>
      <a class="btn btn-success" href="{% url "farm:add_crop" farm.id %}">
        Add crops
      </a>
    </div>
    <div class="col-md-8">
      <p>
        Select the crops that can be planted in this farm.
        The defaults for price, yield, and cost come from data
        collected by the government and other sources.
        <b>If your experience is different, you should override
        the default values.</b>
      </p>
      {% include 'triangle-explain.html' %}
      <p size="-1">
        An orange exclaimation point
        (<i class="fas fa-exclamation fa-sm" style="color:orange"></i>)
        indicates that defaults have been overridden.
    </div>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
  {% for crop in farm.crops.all %}
  <div class="{% cycle "card" "card bg-light" %}" style="width: 16rem;">
    <div class="card-body">
      <h4 class="card-title" >
        <a href="{% url "optimizer:crop_data" crop.data.id %}">
          <i class="fas fa-info-circle fa-sm"></i>
        </a>
        &nbsp;
        {{ crop.data.name|capfirst }}
      </h4>
      <hr/>
      <b>Gross revenue</b> (per acre)
      {% if crop.isOverride %}
      &nbsp;
      <i class="fas fa-exclamation fa-sm" style="color:orange"></i>
      {% endif %}
      <div class="card-img-top cr crop-charts" id="cropChart_{{ crop.pk }}" >
      </div>
      <a class="btn btn-secondary btn-sm" data-toggle="modal"
         href="#cropOver{{ forloop.counter }}">
        Modify
      </a>
      {# begin modal #}
      <div class="modal fade" id="cropOver{{ forloop.counter }}"
           tabindex="-1" role="dialog" aria-labelledby="videoTitleLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editNote">
                Set farm overrides for {{ crop.data.name }}
              </h5>
            </div>
            <div class="modal-body">
              <a class="btn btn-primary btn-sm"
                 href="{% url "tbd" %}">
                Price
              </a>
              &nbsp;&nbsp;
              <a class="btn btn-primary btn-sm" href="{% url "tbd" %}">
                Yield
              </a>
              &nbsp;&nbsp;
              <a class="btn {% if crop.isCostOverride %}btn-warning{% else %}btn-primary{% endif %} btn-sm"
                 href="{% url "farm:edit_cost" crop.id %}">
                Cost
              </a>
              <p>
                <br/>
                A yellow button indicates there is an existing override
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      {# end modal #}
      <hr/>
      <p>
        <b>Acreage limits:</b>
        <a href="{% url "farm:edit_acres" crop.id %}">
          <i class="fas fa-edit"></i>
        </a>
        <br/>
        {{ crop.show_limits|safe }}
       </p>
      <p>
        <a class="btn btn-danger btn-sm" data-toggle="modal"
           href="#removeCrop{{ forloop.counter }}">
          Remove crop from farm
        </a>
        <br/>
        {# begin modal #}
        <div class="modal fade" id="removeCrop{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="videoTitleLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cropRemove">
                  Remove Crop: {{ crop.data.name }}
                </h5>
              </div>
              <div class="modal-body">
                <p>
                  This <b>cannot</b> be undone.
                  Crop can be can be re-added but override information
                  will be lost.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="button" value="Remove" class="btn btn-danger"
                       onclick="location.href='{% url 'farm:remove_crop' crop.id %}'">
                </input>
              </div>
            </div>
          </div>
        </div>
        {# end modal #}
      </p>
    </div>
  </div>
  {% empty %}
  <div class="row">
    <div class="col">
      <p>No crops. This could be a problem</p>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <hr/>
      <h2>Fields</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col">
      <strong>Field</strong>
    </div>
    <div class="col">
      <strong>Acres</strong>
    </div>
  </div>

  {% for field in farm.fields.all %}
  <div class="row {% cycle 'bg-light' '' %}">
    <div class="col-sm-1">
      {{ forloop.counter }}
    </div>
    <div class="col">
      {{ field }}
    </div>
    <div class="col">
      {{ field.acreage }}
    </div>
    <div class="col-sm-1">
      <!a href="{% url "tbd" %}">
        <i class="fas fa-edit"></i>
      </a>
      &nbsp;
      <!a href="{% url "tbd" %}">
        <i class="fas fa-minus-circle"></i>
      </a>
    </div>
  </div>

  {% empty %}
  <div class="row">
    <div class="col">
      No fields.
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
      <!a href="{% url "tbd" %}">
        <i class="fas fa-plus-circle"></i>
        Add a field
      </a>
    </div>
  </div>
</div>

<script>
google.charts.load('current', {'packages': ['corechart', 'bar']});
google.charts.setOnLoadCallback( run )

function run() {
  drawCropCharts( 'crop-charts', croptypes.FARM_CROP )
}
</script>

{% endblock %}
